<a href="https://colab.research.google.com/github/Mu-Hasnain/DataScienceWithPython/blob/main/PythonForDataAnalysis_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**pandas**

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

In [ ]:
#Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a', 'b', 'c']
numpydata = np.array([10, 20, 30])
dic = {'a' : 100, 'b' : 200, 'c' : 300}

In [ ]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series(dic)

a    100
b    200
c    300
dtype: int64

In [ ]:
pd.Series(numpydata)

0    10
1    20
2    30
dtype: int64

In [ ]:
Ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'Italy', 'Japan'])
Ser2 = pd.Series([1,2,5,4],['USA', 'Germany', 'Italy', 'Japan'])

In [ ]:
Ser1

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [ ]:
Ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
Ser1 + Ser2

USA        2
Germany    4
Italy      8
Japan      8
dtype: int64

**Pandas DataFrame**
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [ ]:
#Data Frames
import numpy as np
import pandas as pd
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'],['w','x','y','z'])

In [ ]:
df

          w         x         y         z
A  0.292296 -1.038747  0.466950  1.116314
B -0.307734 -0.525625 -1.486903 -0.561499
C  0.974151  0.317717 -0.482975  0.109768
D -0.222209 -0.420090 -2.693172 -1.245661
E  1.797661 -0.513850  0.844758 -0.606939

In [ ]:
df ['w']

A    0.292296
B   -0.307734
C    0.974151
D   -0.222209
E    1.797661
Name: w, dtype: float64

In [ ]:
type(df['w'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df[['x','y']]

          x         y
A -1.038747  0.466950
B -0.525625 -1.486903
C  0.317717 -0.482975
D -0.420090 -2.693172
E -0.513850  0.844758

In [ ]:
df['new'] = df['w'] + df['x']

In [ ]:
df

          w         x         y         z       new
A  0.292296 -1.038747  0.466950  1.116314 -0.746450
B -0.307734 -0.525625 -1.486903 -0.561499 -0.833358
C  0.974151  0.317717 -0.482975  0.109768  1.291868
D -0.222209 -0.420090 -2.693172 -1.245661 -0.642298
E  1.797661 -0.513850  0.844758 -0.606939  1.283811

In [ ]:
df.drop('new', axis = 1)

          w         x         y         z
A  0.292296 -1.038747  0.466950  1.116314
B -0.307734 -0.525625 -1.486903 -0.561499
C  0.974151  0.317717 -0.482975  0.109768
D -0.222209 -0.420090 -2.693172 -1.245661
E  1.797661 -0.513850  0.844758 -0.606939

In [ ]:
df.drop('B')

          w         x         y         z       new
A  0.292296 -1.038747  0.466950  1.116314 -0.746450
C  0.974151  0.317717 -0.482975  0.109768  1.291868
D -0.222209 -0.420090 -2.693172 -1.245661 -0.642298
E  1.797661 -0.513850  0.844758 -0.606939  1.283811

In [ ]:
df

          w         x         y         z       new
A  0.292296 -1.038747  0.466950  1.116314 -0.746450
B -0.307734 -0.525625 -1.486903 -0.561499 -0.833358
C  0.974151  0.317717 -0.482975  0.109768  1.291868
D -0.222209 -0.420090 -2.693172 -1.245661 -0.642298
E  1.797661 -0.513850  0.844758 -0.606939  1.283811

In [ ]:
#permenate drop
df.drop('new', axis = 1, inplace=True)

In [ ]:
df

          w         x         y         z
A  0.292296 -1.038747  0.466950  1.116314
B -0.307734 -0.525625 -1.486903 -0.561499
C  0.974151  0.317717 -0.482975  0.109768
D -0.222209 -0.420090 -2.693172 -1.245661
E  1.797661 -0.513850  0.844758 -0.606939

In [ ]:
df.loc['A']

w    0.292296
x   -1.038747
y    0.466950
z    1.116314
Name: A, dtype: float64

In [ ]:
df.iloc[2]

w    0.974151
x    0.317717
y   -0.482975
z    0.109768
Name: C, dtype: float64

In [ ]:
df.loc['C','y']

-0.4829745680253398

In [ ]:
df.loc[['A','B'],['w','y']]

          w         y
A  0.292296  0.466950
B -0.307734 -1.486903

In [ ]:
df>0

       w      x      y      z
A   True  False   True   True
B  False  False  False  False
C   True   True  False   True
D  False  False  False  False
E   True  False   True  False

In [ ]:
df[df>0]

          w         x         y         z
A  0.292296       NaN  0.466950  1.116314
B       NaN       NaN       NaN       NaN
C  0.974151  0.317717       NaN  0.109768
D       NaN       NaN       NaN       NaN
E  1.797661       NaN  0.844758       NaN

In [ ]:
df['w']>0

A     True
B    False
C     True
D    False
E     True
Name: w, dtype: bool

In [ ]:
df[df['w']>0]

          w         x         y         z
A  0.292296 -1.038747  0.466950  1.116314
C  0.974151  0.317717 -0.482975  0.109768
E  1.797661 -0.513850  0.844758 -0.606939

In [ ]:
df[df['z']<0]

          w         x         y         z
B -0.307734 -0.525625 -1.486903 -0.561499
D -0.222209 -0.420090 -2.693172 -1.245661
E  1.797661 -0.513850  0.844758 -0.606939

In [ ]:
booldf = df['w']>0

In [ ]:
result = df[booldf]

In [ ]:
result

          w         x         y         z
A  0.292296 -1.038747  0.466950  1.116314
C  0.974151  0.317717 -0.482975  0.109768
E  1.797661 -0.513850  0.844758 -0.606939

In [ ]:
mycols = ['y', 'x']

In [ ]:
result[mycols]

          y         x
A  0.466950 -1.038747
C -0.482975  0.317717
E  0.844758 -0.513850

In [ ]:
df[df['w']>0][['y','x']]

          y         x
A  0.466950 -1.038747
C -0.482975  0.317717
E  0.844758 -0.513850

In [ ]:
#missing Values

In [ ]:
d = {'A':[1, 2, np.nan],
     'B':[5, np.nan, np.nan],
     'C':[1, 2, 3]
     }

In [ ]:
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

DataFrame.dropna(axis=0, how=_NoDefault.no_default, thresh=_NoDefault.no_default, subset=None, inplace=False)


DataFrame.isna
 
 Indicate missing values.
DataFrame.notna

  Indicate existing (non-missing) values.
DataFrame.fillna
 Replace missing values.
Series.dropna
  Drop missing values.
Index.dropna
  Drop missing indices.

In [ ]:
#Remove missing values
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
df.dropna(thresh = 2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
df.fillna(value = 'Fill')

      A     B  C
0   1.0   5.0  1
1   2.0  Fill  2
2  Fill  Fill  3

In [ ]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
#assign a value
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

**Concatenation & Merging**

In [ ]:
# importing the module
import pandas as pd

In [ ]:
# creating the 1st DataFrame
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0','B1', 'B2', 'B3'],
                    'C': ['C0','C1', 'C2', 'C3'],
                    'D': ['D0','D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

In [ ]:
# creating the 2nd DataFrame
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4','B5', 'B6', 'B7'],
                    'C': ['C4','C5', 'C6', 'C7'],
                    'D': ['D4','D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

In [ ]:
# creating the 3rd DataFrame
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8','B9', 'B10', 'B11'],
                    'C': ['C8','C9', 'C10', 'C11'],
                    'D': ['D8','D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
#Performing concatenation operations
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
#Concatenating DataFrames horizontally with axis = 1.
pd.concat([df1, df2, df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [ ]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
#Performing merging operation 
pd.merge(left, right, how='inner', on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

**Operations & Read/ Write DataFrame**

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'col1':[1, 2, 3, 4], 'col2':[444, 555, 666, 444], 'col3':['abc', 'def', 'ghi', 'xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
#unique value check
df['col2'].unique()

array([444, 555, 666])

In [ ]:
#value counts
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [ ]:
#conditional 
df[(df['col1']>2) & (df['col2']==444)]

   col1  col2 col3
3     4   444  xyz

In [ ]:
def times2(x):
  return x*2

In [ ]:
df['col1']

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [ ]:
#dataFrame with userDefine funtion using apply() method
df['col2'].apply(times2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [ ]:
#built-in functions 
df['col1'].sum()

10

In [ ]:
#for columns
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
#sorting
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [ ]:
#Null value check
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
#droping
df.drop('col1', axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz